<h2>Output</h2>
<div *ngIf="shopping">
  <div *ngFor="let shop of shopping.shoppingList" style="margin-left: 20px;">
    <h4>Output {{ shop.shoppingBasket.basketId }}</h4>

    <div style="margin-left: 20px;">
      <div *ngFor="let item of shop.shoppingBasket.items">
        <span>
          {{ item.quantity }}
          {{ item.name }}
          {{ item.price | number : '1.2-2'}}
        </span>
      </div>
      <div>Sales Taxes: {{ shop.shoppingBasket.salesTax | number : '1.2-2'}}</div>
      <div>Total: {{ shop.shoppingBasket.total | number : '1.2-2' }}</div>
    </div>
  </div>
</div>
